@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&family=Oswald:wght@600&family=Poppins&display=swap");

:root {
  --primary-button: #EE4B2B;
  --validate-button: #fff;
}

.btn {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.btn--primary {
  background-color: var(--primary-button);
  border: 1px solid var(--primary-button);
}

.btn--primary:hover {
  background-color: black;
  color: var(--primary-button);
  border: 1px solid black;
}

.btn--small {
  width: 140px;
  height: 40px;
}

.btn--medium {
  width: 160px;
  height: 50px;
  font-size: 16px;
}

.btn--xmedium {
  width: 200px;
  height: 50px;
  border-radius: 15px;
}

.btn--search {
  width: 140px;
  height: 40px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn--arrow {
  width: 40px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn--validate {
  background-color: var(--validate-button);
  border: 1px solid #000;
}

.btn--validate2 {
  background-color: var(--validate-button);
  border: 1px solid #fff;
}

.btn--refresh {
  background-color: var(--validate-button);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 90px 2px rgba(165, 164, 164, 0.25);
}
