footer {
  width: 100%;
  height: 500px;
  background: #c4d9f3;
  margin-top: 50px;
  padding: 0 250px;
  /*display: flex;*/
}

.footer-donate {
  float: right;
  display: flex;
  transform: translateX(100px);
  margin-top: 50px;
}

.footer-donate h3 {
  color: #000;
  font-family: poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 250px;
  margin-top: 10px;
}

.footer-donate button {
  margin-left: 40px;
}

.footer-middle-content-contaier {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  transform: translateY(40%) translateX(-50px);
  position: absolute;
  width: 1068px;
  height: 350px;
}

.newsletter,
.content-1,
.content-2,
.content-3 {
  height: 350px;
}

.newsletter h3 {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  width: 168px;
  margin-bottom: 30px;
}

.newsletter input {
  height: 40px;
  background-color: #c4d9f3;
  border: 0;
}

.legal-card {
  display: flex;
  transform: translateY(150px) translateX(-10px);
}

.legal-card a {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.205px;
  text-decoration: none;
  margin: 10px;
}

.content-1,
.content-2,
.content-3 {
    margin-right: 120px;
    transform: translateX(80px);
}

.content-1 ul  li {
    margin-bottom: 20px;
}

.content-2 ul  li {
    margin-bottom: 20px;
}

.content-3 ul  li {
    margin-bottom: 20px;
}

.content-1 a {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.232px;
  text-decoration: none;
  
}
.content-2 a {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.232px;
  text-decoration: none;
}
.content-3 a {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.232px;
  text-decoration: none;
}

.socials-container {
    transform: translateY(10.5rem);
}

.socials-container span {
    margin-right: 20px;
}