.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-form {
  width: 600px;
  height: 464px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
}

.otp-form > h3 {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 20px;
  transform: translateY(50px);
  height: 50px;
}

.otp-form > p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
  transform: translateY(30px);
  width: 477px;
}

.otp-form > input {
  width: 398px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  backdrop-filter: blur(2px);
  margin-top: 3rem;
  text-indent: 50px;
}

.otp-form > input:placeholder-shown {
  color: rgba(0, 0, 0, 0.28);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}

.button-reg {
  transform: translateY(3rem);
}

.otp-input-container {
  display: flex;
  transform: translateX(36%) translateY(45px);
  margin-bottom: 50px;
}

.otp-input {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .otp-form {
    width: 390px;
    height: 460px;
  }

  .otp-form > p {
    width: 250px;
  }

  .otp-form > input {
    width: 323px;
  }
}
