@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.toggle-button {
  display: flex;
  width: 337px;
  height: 51.5px;
  /*border: 1px solid red;*/
  border-radius: 30px;
  /*background: rgba(234, 234, 234, 0.2);*/
  box-shadow: 0px 2px 4px 0px rgba(97, 97, 97, 0.2) inset,
    0px 1px 2px 0px rgba(97, 97, 97, 0.2) inset;
  transition: background-color 0.3s;
  cursor: pointer;
}

.toggle-left {
  width: 162px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #bfdbf7;
  margin: 5px;
}

.toggle-right {
  width: 162px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #bfdbf7;
  margin: 5px 5px 5px 170px;
}

.toggle-left:hover {
  box-shadow: 0px 1px 2px 0px rgba(97, 97, 97, 0.2);
  transform: scale(1.1);
}

.toggle-right:hover {
  box-shadow: 0px 1px 2px 0px rgba(97, 97, 97, 0.2);
  transform: scale(1.1);
  transition: 0.3 ease;
}

.toggle-indicator {
  width: 50px; /* Adjust the width as needed */
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 0.3s;
}

.title {
  display: flex;
  position: relative;
  transform: translateY(-36px);
  margin: 0 10px;
}

.left-text,
.right-text {
  font-family: roboto;
}

.left-text {
  transform: translateX(20px);
}

.right-text {
  transform: translateX(5rem);
}

.left-text h3 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  letter-spacing: 0.336px;
  cursor: pointer;
  position: relative;
  top: 3px;
}

.right-text h3 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.336px;
  cursor: pointer;
}

.left-focused {
  background-color: white;
}

.right-focused {
  background-color: white;
}
