.donor-container {
  margin: 0 auto;
}

.donor-header {
  width: 100%;
  height: 165px;
  background-color: #bfdbf7;
  margin-top: 40px;
}

.donor-header h3 {
  height: 50px;
  color: #000;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  transform: translateY(3rem);
}

.donor-form {
  display: block;
  padding: 30px 20px 0 20px;
  margin: 20px 20px 0 20px;
}

.donor-form h3 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.donor-form input::placeholder {
  color: #a9a9a9;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 30px;
}

.name,
.phone,
.email,
.address,
.age,
.blood-group,
.lga,
.state,
.postal,
.time-frame,
.validate {
  display: flex;
  margin-bottom: 3rem;
}

.age,
.blood-group,
.state {
  transform: translateX(53%) translateY(-13rem);
  width: fit-content;
}

.name h3 {
  position: absolute;
  transform: translateY(15px);
}

.name input {
  width: 460px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(69, 68, 68, 1);
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin: 0 50px;
  transform: translateX(9.2rem);
}

.phone h3 {
  position: absolute;
  transform: translateY(15px);
}

.phone input {
  width: 950px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  transform: translateX(-5rem);
}

.email h3 {
  position: absolute;
  transform: translateY(15px);
}

.email input {
  width: 900px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  transform: translateX(-6.5rem);
}

.address h3 {
  line-height: normal;
  position: absolute;
  transform: translateY(15px);
}

.address input {
  width: 460px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 70px;
  transform: translateX(8rem);
}

.address input::placeholder {
  transform: translateY(-50px);
}

.age h3 {
  position: absolute;
  transform: translateY(15px);
}

.age input {
  width: 341px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 50px;
  transform: translateX(8.5rem);
}

.blood-group h3 {
  position: absolute;
  transform: translateY(15px);
}

.blood-group input {
  width: 341px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 30px;
  transform: translateX(9.8rem);
}

.lga {
  transform: translateY(-19rem);
}

.lga h3 {
  position: absolute;
  transform: translateY(15px);
}

.lga input {
  width: 460px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 60px;
  transform: translateX(8.5rem);
}

.state h3 {
  position: absolute;
  transform: translateY(15px);
}

.state input {
  width: 334px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 12rem;
}

.postal {
  transform: translateY(-18rem);
}

.postal h3 {
  position: absolute;
  transform: translateY(15px);
}

.postal input {
  width: 460px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin-left: 25px;
  transform: translateX(10.5rem);
}

.time-frame {
  transform: translateY(-15rem);
}

.time-frame h3 {
  position: absolute;
  transform: translateY(15px);
}

.time-frame input {
  width: 438px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  margin: 0 50px;
  transform: translateX(9rem);
}

.validate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10rem;
  width: 650px;
}

.validate p {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.validate input[type="checkbox"]:checked {
  accent-color: #000;
}

.submit {
  float: right;
  transform: translateY(-80px) translateX(-70px);
}

.btn--validate {
  cursor: not-allowed;
}

.btn--enabled {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .donor-container {
    width: max-content;
  }

  .donor-header {
    width: 500px;
    position: relative;
    left: 0;
  }

  .donor-form {
    width: 400px;
  }

  .name {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .name h3 {
    transform: translateY(0);
  }

  .name input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .phone {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .phone input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .email {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .email input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .address {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .address input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }
  
  .age {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    transform: translateY(0);
  }

  .age input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }
  
  .blood-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    transform: translateY(0);
  }

  .blood-group input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }
  
  .state {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    transform: translateY(0);
  }

  .state input  {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .lga {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translateY(0);
  }

  .lga input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }
  
  .postal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translateY(0);
  }

  .postal input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .time-frame {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translateY(0);
  }

  .time-frame input {
    width: 390px;
    transform: translateX(0) translateY(2rem);
    margin: 20px auto;
  }

  .validate {
    transform: translateY(9rem);
    width: 450px;
  }

  .submit {
    transform: translateY(3rem);
  }
}
