@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&family=Oswald:wght@600&family=Poppins&display=swap");

.home-body {
  margin: 0 auto;
}

.main-donate-card {
  position: relative;
  display: block;
  transform: translateY(44px);
  margin: 0 auto;
  padding: 44px 50px 0 50px;
  width: 1339px;
  height: 557px;
  border-radius: 20px;
  background: linear-gradient(
    rgba(191, 219, 247, 1),
    rgb(255, 183, 197, 0.5),
    rgba(238, 134, 134, 0)
  );
  /*border: 1px solid red;*/
  font-family: "Poppins", sans-serif;
}

.main-donate-card h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 105px;
  text-align: center;
}

.main-donate-card h4 {
  position: relative;
  top: 100px;
  left: 55px;
}

.main-donate-card p {
  margin-top: 34px;
  position: relative;
  width: 823px;
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

.main-donate-card Button {
  position: relative;
  top: 52px;
  left: 44%;
}

.donor-search-container {
  width: 1238px;
  height: 120px;
  background: #343434;
  /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
  position: relative;
  top: 60px;
}

.donor-search-container p {
  color: #fff;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: 10px;
}

.donor-search-container .search-bar {
  display: flex;
}

.donor-search-container .search-bar input {
  width: 430px;
  height: 40px;
  position: relative;
  transform: translateY(2rem);
  left: 15%;
  padding-left: 13%;
  border-top-left-radius: 10px;
  background: #d9d9d9;
  border: none;
}

.donor-search-container .search-bar input::placeholder {
  color: #121212;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.donor-search-container .search-bar Button {
  position: absolute;
  top: 55px;
  left: 60%;
}

.sponsors-container {
  position: relative;
  top: 5rem;
  margin: 20px auto;
  width: fit-content;
}

.sponsors-container img {
  margin-right: 15px;
}

.donate-start-card1 {
  display: flex;
  margin: 10rem auto;
}

.donate-start-card1 img {
  border-radius: 10px;
  position: relative;
  /*left: 10%;*/
}

.donate-start-card1-text {
  position: relative;
  right: 2rem;
}

.donate-start-card1 h3,
p {
  display: block;
  align-items: center;
  justify-content: left;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}

.donate-start-card1 h3 {
  margin-top: 8%;
}

.donate-start-card1 p {
  width: 448px;
  margin-top: 15%;
  line-height: 1.5;
}

.donate-start-card1 Button {
  /*position: absolute;
  right: 19.5%;*/
  margin-top: 15%;
}

.product-card1-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 5%;
}

.card-image {
  position: relative;
  top: 5px;
}

.card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 350px;
}

.card-text {
  color: #454444;
  font-family: Poppins;
  font-style: normal;
  width: 350px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: #c4d9f3;
}

/*.card-text h3, p {
  margin-top: 20px;
  align-items: center;
  justify-content: left;
}*/

.card-text h3 {
  position: relative;
  top: 30px;
  margin-left: 20px;
  font-weight: 700;
  align-items: center;
}

.card-text p {
  width: 320px;
  position: relative;
  top: 60px;
  margin-left: 20px;
  font-weight: 400;
  justify-content: left;
  line-height: 1.6;
}

.card-button Button {
  position: relative;
  bottom: 5rem;
  font-size: 14px;
  margin-left: 20px;
}

.discovery-container {
  margin-top: 10rem;
}

.dis-header {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #454444;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dis-content-card {
  display: flex;
  transform: translateY(40px);
  margin: 4rem auto;
}

.dis-content-card img {
  border-radius: 10px;
  width: 450px;
  height: 350px;
  position: relative;
  left: 3rem;
}

.dis-content-card ul {
  display: block;
  position: relative;
  color: #454444;
  padding: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
}

.dis-content-card ul li {
  position: relative;
  top: 50px;
  left: 50px;
  margin-bottom: 25px;
}

.discovery-container Button {
  position: absolute;
  left: 52.5%;
  transform: translateY(17rem);
}

.overview-container {
  margin-top: 10rem;
  margin-bottom: 30px;
  height: 100%;
  align-items: center;
  padding: 0 60px;
}

.overview-header {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-family: Satoshi;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.overview-content-card {
  display: flex;
  margin-top: 5rem;
}

.overview-content-card img {
  z-index: 1;
  transform: translateY(25px) translateX(80px);
  height: 550px;
}

.overview-list {
  margin-top: 20px;
}

.overview-list ul {
  position: relative;
  right: 5rem;
}

.ov-test {
  position: relative;
  left: -5rem;
}

.blue-rect {
  width: 222px;
  height: 455px;
  border-radius: 0px 20px 0px 0px;
  background: #c4d9f3;
  position: absolute;
  top: 0;
  left: 16rem;
  z-index: -1;
}

.red-rect {
  width: 258px;
  height: 28px;
  background: #ff0404;
  position: absolute;
  left: 5rem;
  transform: translateY(20px);
}

.incentive-card {
  margin-top: 80px;
}

.incentive-card-header h3 {
  color: #454444;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}

.incentive-card-header p {
  color: #454444;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  width: 769px;
  /*margin-left: 20%;*/
}

.incentive-product-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  padding: 0;
  gap: 20px;
  row-gap: 40px;
  margin-top: 40px;
}

.incentive-product-card-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.incentive-card-text {
  width: 350px;
  height: 190px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #121212;
  border: 1px solid #ee4b2b;
  background: #ee4b2b;
  border-bottom: none;
  padding-top: 25px;
}

/*.incentive-card-text:hover {
  border: 1px solid #000;
  background: #000;
  color: rgba(249, 194, 46, 1);
}*/

.incentive-card-text h3 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
}

.incentive-card-text p {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

.incentive-card-image img {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 350px;
}

.testimony-container {
  margin-top: 80px;
}

.testimony-carousel-container {
  padding: 0 30px 0 30px;
  transform: translateX(-60px);
  margin-bottom: 30px;
}

.testimony-carousel-content {
  transform: translateX(3rem);
}

.t-carousel-container {
  /*border: 1px solid orange;*/
  cursor: pointer;
  height: 400px;
}

.testimony-header h3 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}

.testimony-header p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.tescard11 {
  transform: translateY(33px);
}

.tescard11 h3,
p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-1-3 {
  width: 294px;
  height: 200px;
  padding: 10px 10px 10px 16px;
  transform: translateX(6.5rem);
  margin: 0;
}

.item-2 {
  padding: 10px 10px 10px 16px;
}

.item-1-3 h3 {
  transform: translateY(20px);
}

.item-2 h3 {
  transform: translateY(20px);
}

.item-1-3 p {
  transform: translateY(3rem);
}

.item-2 p {
  transform: translateY(1.5rem);
}

.item-2 {
  height: 200px;
  padding: 10px;
}

.circle1-3 {
  border-radius: 100%;
  position: relative;
  left: 42%;
  bottom: 20px;
}

.circle2 {
  border-radius: 100%;
  position: relative;
  left: 40%;
  bottom: 20px;
}

.image-1-3 {
  float: right;
  transform: translateX(-15px) translateY(1rem);
}

.image-2 {
  float: right;
  transform: translateX(-15px) translateY(-10px);
}

.testimony-carousel-content .react-multi-carousel-dot-list {
  position: absolute;
  transform: translateX(10rem);
  left: 40rem;
  right: 60rem;
}

.bottom-card-container {
  display: flex;
  margin: 80px 50px;
  padding: 0 10px;
}

.bottom-card-text {
  position: absolute;
  transform: translateY(80px);
  left: 7%;
}

.bottom-card-text h3 {
  color: #454444;
  font-family: Satoshi;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
  width: 286px;
  margin-bottom: 25px;
  position: relative;
  left: -2.7rem;
}

.bottom-card-text p {
  color: #454444;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  width: 372px;
  margin-bottom: 25px;
}

/*.bottom-card-button {
  position: absolute;
  left: 60px;
  transform: translateY(90px);
}*/

.bottom-card-image {
  transform: translateX(30%);
}

.bottom-card-image img {
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  /*.home-body {
    margin: 0 10px;
  }*/

  .main-donate-card {
    width: 430px;
  }

  .main-donate-card h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .main-donate-card p {
    font-size: 14px;
    width: 306px;
  }

  .main-donate-card button {
    left: 30%;
  }

  .main-donate-card #find {
    font-size: 14px;
    width: 306px;
    top: 20px;
  }

  .donor-search-container {
    width: 330px;
  }

  .donor-search-container .search-bar input {
    width: 170px;
    left: 0;
    padding-left: 0;
    text-indent: 15px;
  }

  .donor-search-container .search-bar input::placeholder {
    font-size: 10px;
    text-indent: 15px;
  }

  .donor-search-container .search-bar Button {
    top: 50px;
  }

  .sponsors-container {
    display: none;
    width: 450px;
    height: fit-content;
    overflow: scroll;
  }
  .donate-start-card1 {
    flex-direction: column;
  }

  .donate-start-card1 > img {
    width: 390px;
    height: 245px;
    border-radius: 10px;
  }

  .donate-start-card1-text {
    right: 0;
    width: 373px;
  }

  .donate-start-card1 h3,
  p {
    margin-top: 20px;
  }

  .donate-start-card1 p {
    width: fit-content;
  }

  .product-card1-container {
    display: flex;
    flex-direction: column;
  }

  .card-text p {
    top: 30px;
  }

  .discovery-container {
    display: flex;
    flex-direction: column;
  }

  .dis-content-card {
    display: block;
    transform: translateY(0);
  }

  .dis-content-card img {
    left: 1rem;
  }

  .dis-content-card ul {
    width: 450px;
  }

  .dis-content-card ul li {
    left: 0;
  }

  .discovery-container Button {
    left: 10px;
    transform: translateY(3rem);
  }

  .overview-container {
    display: flex;
    flex-direction: column;
  }

  .overview-list {
    position: absolute;
    margin: 0 auto;
    transform: translateY(40rem) translateX(4rem);
    width: 300px;
  }

  .incentive-card {
    display: flex;
    flex-direction: column;
    transform: translateY(40%);
    margin-top: 0;
  }

  .incentive-card-header,
  .incentive-card-header > p {
    width: 349px;
  }

  .incentive-card-header > p {
    margin-left: 0;
  }

  .incentive-product-card-container,
  .incentive-product-card-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .incentive-product-card-container2 {
    position: relative;
    left: 13px;
  }

  .testimony-container {
    transform: translateY(65rem);
    margin-top: 0;
  }

  .testimony-header {
    width: 250px;
    margin-bottom: 0;
  }

  .testimony-carousel-content {
    transform: translateY(-5rem) translateX(4rem);
  }

  .bottom-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60rem;
    margin-bottom: 70rem;
  }

  .bottom-card-text {
    position: relative;
    transform: translateY(0);
    left: 0;
  }

  .bottom-card-image {
    transform: translateX(0) translateY(2rem);
  }

  .bottom-card-image img {
    width: 394px;
    height: 192px;
  }
}

@media (max-width: 1400px) {
  .item-1-3 {
    transform: translateX(4rem);
    margin-left: 0;
  }

  .testimony-carousel-content .react-multi-carousel-dot-list {
    transform: translateX(-1rem);
    left: 40rem;
    right: 60rem;
  }
}

/*@media (min-width: 1600px) {
  .home-body {
    width: 90%;
  }

  .donor-search-container p {
    left: -2%;
  }

  .donate-start-card1 p {
    transform: translateX(-1rem);
  }

  .donate-start-card1 button {
    transform: translateX(-6rem) translateY(-5rem);
  }

  .dis-content-card img {
    transform: translateX(-4rem);
  }

  .dis-content-card ul {
    transform: translateX(-13rem);
  }

  .discovery-container button {
    transform: translateX(3.5rem);
  }

  .overview-content-card .blue-rect {
    transform: translateX(-6rem);
  }

  .overview-content-card .red-rect {
    left: 3.1rem;
  }

  .overview-list {
    position: relative;
    right: 15rem;
  }

  .incentive-card-header {
    position: relative;
    left: 15px;
  }

  .custom-dot-list-style {
    position: relative;
  }

  .bottom-card-text {
    left: 12rem;
  }

  .bottom-card-text p {
    position: relative;
    left: 2.5rem;
  }

  .bottom-card-button {
    position: relative;
    left: 2.5rem;
  }

  .bottom-card-image {
    position: relative;
    right: 10rem;
  }

  .item-1-3 {
    transform: translateX(50px);
    margin-left: 40px;
  }
}*/
