.org-form {
  display: block;
  padding: 30px 20px 0 40px;
  margin: 20px 20px 10px 20px;
}

.org-form h3 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.head {
  display: flex;
  margin-top: 4rem;
}

.head input {
  width: 522px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  transform: translateX(-11.5rem);
}

.head input::placeholder {
  color: #a9a9a9;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 30px;
}

.phone {
  margin-top: 4rem;
}

.phone input {
  width: 522px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  transform: translateX(-11.5rem);
}

.oname input {
  margin-left: 10%;
}

.oaddress input {
  width: 460px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #454444;
  background: #fff;
  font-size: 24px;
  text-indent: 30px;
  padding: 20px 0 200px 0;
  margin-left: 70px;
  transform: translateX(14rem);
}

.org-form > .submit {
  margin-top: 70px;
}

.org-form > .head h3 {
  position: absolute;
  transform: translateY(15px);
}

.org-form > .phone h3 {
  transform: translateY(15px);
}

@media only screen and (max-width: 768px) {
  .name input {
    margin-left: 0;
  }

  .oaddress input {
    width: 390px;
    margin-left: 0;
    margin-top: 2rem;
    transform: translateX(0);
  }
  
  .head {
    margin-top: 1rem;
  }

  .head input {
    width: 390px;
    margin-left: 0;
    margin-top: 4rem;
    transform: translateX(0);
  }
  
  .phone input {
    width: 390px;
    margin-left: 0;
    margin-top: 4rem;
    transform: translateX(0);
  }
  
  .org-form > .submit {
    margin-top: 0;
  }
}
